// This is the master config file RPC 05/04/21
// Please comment out hg19 or hg38 include config files
// Exome interval files are required to be out in manually here also.

//---------------------- input file ---------------------------//

env.params_fq = "/gpfs/afm/cg_pipelines/Pipelines/Cholesteatoma/chole_batch2_rerun_140121/**/*{1,2}.fq.gz"

// ---------------------- bait files --------------------------- //

env.bait_interval  = "$baseDir/input/bait/SeqCap_EZ_Exome_v3_hg38_capture_targets.bed"
env.target_interval = "$baseDir/input/bait/SeqCap_EZ_Exome_v3_hg38_primary_targets.bed"
env.haplotypecaller_bed = "/var/spool/mail/bait_capture_files/SeqCapEZ_Exome_v3.0_Design_Annotation_files/hg38/SeqCap_EZ_Exome_v3_hg38_primary_targets.bed"

// ---------------------- hg19 --------------------------- //

//includeConfig "DNAseq/Exome/cgpmap/cgpmap_hg19.config"

// ---------------------- hg38 --------------------------- //

//includeConfig "DNAseq/Exome/cgpmap/cgpmap_hg38.config"

// ---------------------- HPC config --------------------------- //

executor {
  $slurm {
    queueSize = 8
    submitRateLimit = '1 / 3min'
  }
  $local{
    queueSize = 100
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 10sec'
  }
}

// ---------------------- Singularity config --------------------------- //

// Singularity options and binds

singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cg_pipelines/Pipelines/singularity/genomes/:/var/spool/mail"
}
