// This is the master config file RPC 05/04/21
// Please comment out hg19 or hg38 include config files
// Exome interval files are required to be out in manually here also.

env.projectname = "Williams_2021"

//---------------------- input file ---------------------------//

//germline
env.params_fq = "/gpfs/afm/cg_pipelines/Datasets/Mark_Williams/WES/C204HW19040696/raw_data/**/*{1,2}.fq.gz"
//somatic (these need to be matched samples and in the same order - as exampled below)

// sample names
env.params_tumor = ["S1A_UKDHE190338", "S1C_UKDHE190340", "S1C_UKDHE190340", "S2A_UKDHE190340", "S2C_UKDHE190340", "S2C_UKDHE190340", "S3A_UKDHE190340", "S3C_UKDHE190339", "S3C_UKDHE190339"]
env.params_normal = ["S1B_UKDHE190339", "S1B_UKDHE190339", "S1A_UKDHE190338", "S2B_UKDHE190339", "S2B_UKDHE190339", "S2A_UKDHE190340", "S3B_UKDHE190339", "S3B_UKDHE190339", "S3A_UKDHE190340"]


// ---------------------- bait files --------------------------- //

env.bait_interval  = "$baseDir/bait/S07604514_Padded_nochr.bed"
env.target_interval = "$baseDir/bait/S07604514_AllTracks_nochr.bed"

// ---------------------- hg19 --------------------------- //

//includeConfig "DNAseq/Exome/cgpmap/cgpmap_hg19.config"

// ---------------------- hg38 --------------------------- //

includeConfig "DNAseq/Exome/cgpmap/cgpmap_hg38.config"

// ---------------------- HPC config --------------------------- //

executor {
  $slurm {
    queueSize = 8
    submitRateLimit = '1 / 45sec'
  }
  $local{
    queueSize = 100
    errorStrategy = 'retry'
    maxRetries = 5
    submitRateLimit = '1 / 10sec'
  }
}

// ---------------------- Singularity config --------------------------- //

// Singularity options and binds

singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cancergenetics/Ryan/cg_pipelines_new/Pipelines/singularity/genomes/:/var/spool/mail"
}
