process {
    executor = 'slurm'
    time = '158.h'
    errorStrategy = 'retry'
    maxRetries = 3
    memory = 80.GB
    queue = 'compute-24-96'
}

executor {
  $slurm {
    queueSize = 15
    submitRateLimit = '1 / 20sec'
    queue = 'compute-24-96'
    memory = 80.GB
  }
  $local{
    queueSize = 100
    submitRateLimit = '1 / 5sec'
  }
}
