process {
withName:merge_caller_indels {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:indels_filter {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:indels_sort {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:merge_caller_snps {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:snps_filter {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:snps_sort {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:multiqc {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:VEP {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/ensembl-vep_release_104.0.sif'
  }
withName:VEP2 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/ensembl-vep_release_104.0.sif'

  }
withName:merge_family_indels {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:merge_fam_snps{
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:count_variants2 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/vcftools_bioC.simg'
    }
withName:count_variants3 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/vcftools_bioC.simg'
    }
withName:count_variants4 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/vcftools_bioC.simg'
    }
withName:count_variants5 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/vcftools_bioC.simg'
    }
withName:count_variants6 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/vcftools_bioC.simg'
    }
withName:Rtables {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_markdown.simg'
    }
withName:vcf2tsv {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_tidyverse.simg'
    }
withName:vcf2tsv2 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_tidyverse.simg'
    }
withName:tsvFilter2 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_tidyverse.simg'
    }
withName:tsvFilter {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_tidyverse.simg'
    }
withName:Rtables {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_tidyverse.simg'
    }
withName:markdown {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/R_markdown4.simg'
    }
}
