process {
withName:merge_caller_indels {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:indels_filter {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:indels_sort {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:merge_caller_snps {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:snps_filter {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:snps_sort {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:multiqc {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:VEP {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/ensembl-vep_release_104.0.sif'
  queue = 'compute-16-64'
  }
withName:VEP2 {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/ensembl-vep_release_104.0.sif'
  queue = 'compute-16-64'
  }
withName:merge_family_indels {
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
withName:merge_fam_snps{
  container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/pipeline1_bundle.simg'
  }
}
